<% flash.each do |message_type, message| %>
  <div class="w-full py-4 px-4 rounded bg-green-500 mb-6">
    <h1 class="text-base text-center text-white font-normal">
    <%= message%>
    </h1>
  </div>
<% end %>

<div class="mb-6 max-w-5xl mx-auto">
  <div class="w-full mx-auto bg-gray-500 py-2 mb-2">
    <h1 class="text-3xl font-bold text-gray-900">
      Wait List
    </h1>
  </div>

  <div class="w-full flex flex-row justify-start items-center py-2 px-4 bg-gray-800 border-b border-gray-500 rounded-t">
    <ion-icon class="mr-1 text-white" name="hourglass"></ion-icon>
    <h3 class="text-left text-white text-xs font-bold  ">
      <%= "Wait List (#{@list_items.count})" %>
    </h3>
  </div>

  <%# tickets container %>
  <div class="w-full bg-white mb-12">
    <% if @list_items.any?%>
      <% @list_items.each do |item|%>
        <div class="w-full px-4 py-1 flex justify-between items-center border bg-white" >
          <div class="flex justify-start items-center w-1/3">
            <h4 class="text-xs w-1/5 mr-4 font-bold">
              <%= truncate_attribute(item.email, 25)%>
            </h4>
          </div>

          <h4 class="text-xs flex justify-start items-center font-bold">
            Zip: <%= item.zipcode%>
          </h4>

          <h4 class="text-xs flex justify-start items-center font-bold">
            Added: <%= readable_date(item.created_at)%>
          </h4>

          <h4 class="text-xs flex justify-start items-center font-bold">
            <% if item.within_coverage_area?%>
              <% @region = item.region%>
              <%= link_to item.region.area.upcase, executives_dashboards_regions_region_path(id: @region.id), class: 'font-black underline text-indigo-600 text-xs'%>
            <% end %>
          </h4>

          <h4 class="text-xs flex justify-start items-center font-bold">
            Invited:
            <%= item.invite_sent_at? ? readable_date(item.invite_sent_at) : "Never"%>
          </h4>

          <%= link_to item.invite_sent_at.blank? ? "Send Invite Email" : "Resend Invite Email", executives_dashboards_wait_list_path(id: item.id), method: :patch, class: 'text-xs px-2 rounded bg-indigo-800 text-white font-bold mr-2'%>
          
          <%= link_to 'delete', executives_dashboards_wait_list_path(id: item.id), class: 'underline font-bold text-xs text-indigo-600', method: :delete, data: {confirm: 'are you sure?'}%>
        </div>
      <% end %>
    <% else %>

    <div class="flex justify-center items-center">
      <h1 class="font-bold text-base py-2 text-gray-900">
        There are no users on wait list.
      </h1>
    </div>
    <% end %>
  </div>

</div>