<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <title><%= yield(:title) %> | Fresh And Tumble</title>
    <%= render 'layouts/rails_default_head' %>
    <%= render 'layouts/font_import_links' %>
    <%= render 'layouts/static_pages/meta_tags' %>

    <%= render 'layouts/users/analytics/google'%>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>

    <script src="https://www.google.com/recaptcha/api.js?onload=onLoadCallback&render=explicit" async defer></script>

    <%= stylesheet_pack_tag 'application' %>
  </head>
  
  <body>
    <%= render partial: 'static_pages/static_navbar' %>

    <%= yield %>
    <%= render partial: 'static_pages/static_footer' %>

    <%= javascript_pack_tag 'users/navbar_toggler'%>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>