<% provide(:title, "Pickup From Washer")%>
<div class="h-screen bg-gray-200">
  <div class="w-full bg-gray-900 py-2">
    <p class="font-bold text-lg text-center text-white">
      Step 1. Pickup From Washer
    </p>
  </div>

  <div class="w-full">
    <% flash.each do |message_type, message| %>
      <div class="flashWarning sm:max-w-xl sm:mx-auto">
        <h1 class="flashWarningText">
          <%= message %>
        </h1>
      </div>
    <% end %>
  </div>

  <div class="max-w-lg mx-auto p-4 bg-white">
    <%= link_to "<Back", workers_dashboards_processing_orders_path, class: "text-link-blue font-bold text-xl py-1 font-bold mb-2" %>  



      <div class="my-4">
        <p class="font-bold text-2xl">
          <ion-icon class="text-base" name="qr-code-outline"></ion-icon> <%= @order.bags_code%>
        </p>
        <p class="font-bold text-lg">
          Weight: <%=@order.readable_weight%> (about <%= @order.bags_collected%> bags)
        </p>
        <p class="text-lg">
          Picking up from:
          <span class="font-bold text-lg">
            <%= @partner.business_name.upcase %>
          </span>
        </p>
        <%= link_to @partner.full_address.upcase, @partner.google_nav_link, target: '_blank', class: 'font-bold underline text-link-blue'%>
      </div>

      <div class="my-4">
        <p class="font-bold text-lg">
          Are there any unwashable items in this order?
        </p>
      </div>

      <%= form_tag workers_courier_tasks_pickup_from_partner_step1_path, method: :put do %>
      <%= hidden_field_tag :id, @order.id%>

      <div class="w-full mb-8">
        <div class="w-full my-2">
          <%= radio_button_tag :unwashable_items, "true", checked: false  %>
          <%= label_tag :unwashable_items, "Yes", value: "true", class: "text-lg" , for: "unwashable_items_true" %>
        </div>

        <div class="w-full my-2">
          <%= radio_button_tag :unwashable_items, "false", checked: true  %>
          <%= label_tag :unwashable_items, "No", value: "false", class: "text-lg" , for: "unwashable_items_false" %>
        </div>
      </div>

      <button type="button" class="copy-address-button block w-full bg-blue-500 rounded-md text-white py-4 text-center my-4" data-clipboard-text="<%= @partner.address%>">
        Copy Address To Clipboard
      </button>

      <%= submit_tag "Continue", class: 'block w-full py-4 text-center bg-orange-500 text-gray-900 font-bold text-lg mb-4'%>
    <% end %>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<%= javascript_pack_tag 'workers/courier/tasks/copy-address'%>