<div class="w-full border p-4 mb-4 bg-white rounded-lg sm:max-w-xl sm:mx-auto">
  <%= link_to workers_courier_tasks_pickup_from_partner_step1_path(id: order.id), class: "" do %>

    <p>
      <span class="font-bold text-lg text-left text-gray-900">
        <ion-icon class="text-base" name="qr-code-outline"></ion-icon>
        <%= order.bags_code %> (about <%=order.bags_collected%> bags)
      </span>
    </p>

    <p>
      <span class="font-bold">
        Pickup:
      </span> 
      <%= time_ago_in_words(order.picked_up_from_customer_at)%>
    </p>

    <p>
      <span class="font-bold">
        Washer rec. 
      </span>
      <%= time_ago_in_words(order.dropped_off_to_partner_at)%>
    </p>

    <div class="mt-2 mb-2">
      <p class="text-sm">
        Location: <%= partner_location.business_name.upcase %>
      </p>
      <p class="text-sm">
        <object>
          <%= link_to partner_location.formatted_business_phone, "tel:#{partner_location.formatted_business_phone}" %>
      </object>
      </p>
    </div>
    
    <p>
      <object>
        <%= link_to partner_location.formatted_business_phone, "tel:#{partner_location.formatted_business_phone}", class: 'text-link-blue font-bold text-lg' %>
      </object>
    </p>

  <% end %>
</div>