<div class="w-full md:w-1/2 mx-auto flex flex-row justify-between items-center py-2 px-4  border-t border-l border-r border-black rounded-t">
  <div class="flex flex-row w-1/2 justify-start items-center">
    <ion-icon class="mr-1" name="briefcase" class="text-xs"></ion-icon>
    <h3 class="text-left text-sm font-bold text-gray-900">
      New Client Form
    </h3>
  </div>
</div>

<%# form container %>
<div class="formContainer w-full md:w-1/2 mx-auto bg-white border border-black rounded-b py-2 px-4">
  <% flash.each do |message_type, message| %>
    <div class="flashReg w-full">
      <h1 class="text-base text-center text-gray-900 font-normal">
        <%= message%>
      </h1>
    </div>
  <% end %>

  <div id="errorContainer"></div>

  <div class="w-full max-w-1/2">
    <div class="flex flex-row justify-end items-center mb-2">
      <span class="addressDisplayCount font-bold text-xs py-1 px-4 bg-gray-200 border border-black rounded-lg text-gray-900">
        Addresses (0)
      </span>
    </div>
    <div id="addressListContainer">
    </div>
  </div>

  <%= form_for @new_client, url: { controller: 'executives/dashboards/commercial/new_clients', action: 'create'} do |f|%>
    <%= f.hidden_field :address_count, id: 'addressCountField'%>

    <div class="mb-4">
      <h3 class="font-bold text-xs text-gray-900">
        1. Add Addresses
      </h3>
      <div class="">
        <%= text_field_tag :address, '', placeholer: "Address", id: 'autocomplete', class: "autoCompleteField w-full pl-1 border border-black rounded appearance-none placeholder-gray-500 text-gray-900 py-2 text-sm mr-1 mb-2"%>

        <div class="w-full flex flex-row justify-start items-center">
          <%= text_field_tag :unit_number, '', placeholder: 'Unit# (Optional)', id:'unitNumber', class: 'w-1/3 pl-1 border border-black rounded appearance-none placeholder-gray-500 text-gray-900 py-2 text-sm mr-1'%>

          <%= text_field_tag :phone, '', id: 'addressPhone', placeholder: 'Phone Number (Optional)', class: 'w-1/3 pl-1 border border-black rounded appearance-none placeholder-gray-500 text-gray-900 py-2 text-sm mr-1'%>

          <%= text_field_tag :pick_up_directions, '', id: 'pickUpDirections', placeholder: 'Pickup Instructions (Optional)', class: 'w-1/3 pl-1 border border-black rounded appearance-none placeholder-gray-500 text-gray-900 py-2 text-sm mr-1'%>

          <%= button_tag type: 'button', id: 'addAddressButton', class: 'w-1/3 px-2 block bg-green-600 py-1 rounded text-white flex flex-row justify-center items-center text-sm border border-black' do%>
            <ion-icon name="checkmark-circle" class=" text-white-500 mr-1"></ion-icon>
            Add
          <% end %>
        </div>
      </div>
    </div>

    <div class="my-2 flex flex-row justify-start items-center">
      <div class="w-1/2 mr-6">
        <h3 class="font-bold text-xs text-gray-900 ">
          2. Contact Person
        </h3>
        <%= f.text_field :contact_person, class: 'w-full py-2 text-sm pl-1 border border-black rounded appearance-none placeholder-black text-gray-900'%>
      </div>

      <div class="w-1/2">
        <h3 class="font-bold text-xs text-gray-900 ">
          3. Business Name
        </h3>
        <%= f.text_field :name, class: 'w-full py-2 text-sm pl-1 border border-black rounded appearance-none placeholder-black text-gray-900' %>
      </div>
    </div>

    <div class="my-2 flex flex-row justify-start items-center">
      <div class="w-1/2 mr-6">
        <h3 class="font-bold text-xs text-gray-900 ">
          4. Phone Number
        </h3>
        <%= f.text_field :phone, class: 'w-full py-2 text-sm pl-1 border border-black rounded appearance-none placeholder-black text-gray-900'%>
      </div>

      <div class="w-1/2">
        <h3 class="font-bold text-xs text-gray-900 ">
          5. Price
        </h3>
        <%= f.text_field :price_per_pound, class: 'w-full py-2 text-sm pl-1 border border-black rounded appearance-none placeholder-black text-gray-900', value: 1.49 %>
      </div>
    </div>

    <div class="my-2 flex flex-row justify-start items-center">
      <div class="w-1/2 mr-6">
        <h3 class="font-bold text-xs text-gray-900 ">
          5. Business Email
        </h3>
        <%= f.text_field :email, class: 'w-full py-2 text-sm pl-1 border border-black rounded appearance-none placeholder-black text-gray-900'%>
      </div>
      <div class="w-1/2">
        <h3 class="font-bold text-xs text-gray-900 ">
          6. Area Of Business
        </h3>
        <%= f.text_field :area_of_business, class: 'w-full py-2 text-sm pl-1 border border-black rounded appearance-none placeholder-black text-gray-900'%>
      </div>
    </div>

    <div class="my-2 flex flex-row justify-between items-start">
      <div class="w-1/2 flex-column mr-6">
        <h3 class="font-bold text-xs text-gray-900 ">
          7. Pickup Days
        </h3>
        <div class="pl-1 flex flex-row w-full items-center select-none">
          <%= f.label :monday, 
            "Monday #{today_from_string?('monday') ? "(Today)" : nil}", 
            class: 'font-bold text-xs mr-1 py-2'
          %>
          <%= f.check_box :monday%>    
        </div>
        <div class="pl-1 flex flex-row w-full items-center select-none">
          <%= f.label :tuesday, 
            "Tuesday #{today_from_string?('tuesday') ? "(Today)" : nil}", 
            class: 'font-bold text-xs mr-1 py-2'
          %>
          <%= f.check_box :tuesday%>    
        </div>
        <div class="pl-1 flex flex-row w-full items-center select-none">
          <%= f.label :wednesday, 
            "Wednesday #{today_from_string?('wednesday') ? "(Today)" : nil}", 
            class: 'font-bold text-xs mr-1 py-2'
          %>
          <%= f.check_box :wednesday%>    
        </div>
        <div class="pl-1 flex flex-row w-full items-center select-none">
          <%= f.label :thursday, 
            "Thursday #{today_from_string?('thursday') ? "(Today)" : nil}", 
            class: 'font-bold text-xs mr-1 py-2'
          %>
          <%= f.check_box :thursday%>    
        </div>
        <div class="pl-1 flex flex-row w-full items-center select-none">
          <%= f.label :friday, 
            "Friday #{today_from_string?('friday') ? "(Today)" : nil}", 
            class: 'font-bold text-xs mr-1 py-2'
          %>
          <%= f.check_box :friday%>    
        </div>
        <div class="pl-1 flex flex-row w-full items-center select-none">
          <%= f.label :saturday, 
            "Saturday #{today_from_string?('saturday') ? "(Today)" : nil}", 
            class: 'font-bold text-xs mr-1 py-2'
          %>
          <%= f.check_box :saturday%>    
        </div>
        <div class="pl-1 flex flex-row w-full items-center select-none">
          <%= f.label :sunday, 
            "Sunday #{today_from_string?('sunday') ? "(Today)" : nil}", 
            class: 'font-bold text-xs mr-1 py-2'
          %>
          <%= f.check_box :sunday%>    
        </div>
      </div>

      <div class="w-1/2">
        <h3 class="font-bold text-xs text-gray-900 mb-2">
          8. Pickup Window
        </h3>
        <%= f.select :pickup_window,
          [
            ['Morning (7AM-10AM)', 'morning'],
            ['Afternoon (3PM-5PM)', 'afternoon'],
          ], {}, include_blank: 'Select', class: 'w-full py-2 text-sm pl-1 border border-black rounded appearance-none placeholder-black text-gray-900'%>
      </div>
    </div>

    <div class="my-2 flex flex-row justify-start items-center">
      <div class="w-full">
        <h3 class="font-bold text-xs text-gray-900 mb-2">
          9. Internal Notes
        </h3>
        <%= f.text_field :special_notes, class: 'w-full py-2 text-sm pl-1 border border-black rounded appearance-none placeholder-black text-gray-900' %>
      </div>
    </div>

    <div class="my-2 flex flex-row justify-start items-center">
      <div class="w-full">
        <h3 class="font-bold text-xs text-gray-900 mb-2">
          10. Card Information
        </h3>
        <div id="card-element"></div>
        <div class="" id="card-errors" role="alert"></div>
      </div>
    </div>

    <%= f.submit 'Create New Client', class: 'submitaction-button px-2 py-4 rounded-md bg-green-500 text-white w-full text-sm font-bold mb-10 cursor-pointer'%>
    <% end  %>
</div>

<%= render partial: 'layouts/stripe_element_inline_styles'%>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByXNFdTFY5C-QSRzE_ci0HMdNslgDPJgk&libraries=places"></script>
<%= javascript_pack_tag 'executives/clients/new_clients/add_client_address_to_form'%>
<%= javascript_pack_tag 'executives/clients/new_clients/client_stripe_charges'%>