<div class="w-full p-2 bg-gray-800 flex flex-row justify-start items-center">
  <p class="w-3/12 text-xs font-black text-white">CUSTOMERS (<%=addresses.count%>) NAME</p>
  <p class="w-3/12 text-xs font-black text-white">EMAIL</p>
  <p class="w-2/12 text-xs font-black text-white">PHONE</p>
  <p class="w-2/12 text-xs font-black text-white">REGION</p>
  <p class="w-3/12 text-xs font-black text-white">ORDERS</p>
  <p class="w-3/12 text-xs font-black text-white">SIGNED UP</p>
</div>

<div style="height: 250px" class="w-full overflow-y-scroll mb-2 bg-gray-300">
  <% addresses.each do |address|%>
    <div class="block w-full bg-gray-300 border-b py-3 px-2 flex flex-row justify-start items-center">

      <%# NAME %>
      <p class="w-3/12 text-xs font-black text-gray-900">
        <%= link_to "#{truncate_attribute(address.user.full_name.upcase, 20)}", executives_dashboards_users_customer_path(id: address.user.id), class: 'w-3/12 text-xs font-black text-link-blue underline'%>
      </p>

      <%# EMAIL %>
      <p class="w-3/12 text-xs font-black text-gray-900">
        <%= truncate_attribute(address.user.email.upcase, 20)%>
      </p>

      <%# PHONE %>
      <p class="w-2/12 text-xs font-black text-gray-900">
        <% if address.user.phone %>
          <%= address.user.formatted_phone%> 
        <% else %>
          N/A
        <% end %>
      </p>

      <%# REGION %>
      <p class="w-2/12 text-xs font-black  text-gray-900">
        <% if address.region %>
        <% @region = address.region%>
          <%= link_to "#{@region.area.upcase}", executives_dashboards_regions_region_path(@region.id), class: 'w-3/12 text-xs font-black text-link-blue underline'%>
        <% else %>
          N/A
        <% end %>
      </p>

      <%# ORDERS %>
      <p class="w-3/12 text-xs font-black  text-gray-900">
        <% if address.user.new_orders.any? || address.user.orders.any? %>
          <%= address.user.new_orders.count + address.user.orders.count %>
        <% else %>
          NEVER
        <% end %>
      </p>
      
      <%# SIGNED UP %>
      <p class="w-3/12 text-xs font-black text-gray-900">
        <%= readable_date(address.user.created_at)%>
      </p>
    </div>
  <% end %>
</div>

</div>