<%# modal start %>
<div class="addAddressModal hidden">
  <div class=" fixed bottom-0 inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center">

  <%# backdrop start %>
    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
  <%# backdrop end %>

  <%# modal box start %>
    <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-2xl sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
            <h3 class="text-xl leading-6 text-gray-900 mb-6 font-bold" id="modal-headline">
              <ion-icon name="location" class="text-lg text-green-600" role="img" aria-label="location"></ion-icon>
              Add New Address
            </h3>
            <%= form_for :address, url: {controller: '/clients/addresses', action: 'create'} do |f| %>
              <%= f.hidden_field :client_id, value: @client.id%>
              <%= f.hidden_field :street_address, id: 'address_street_address' %>
              <%= f.hidden_field :city, id: 'address_city' %>
              <%= f.hidden_field :state, id: 'address_state' %>
              <%= f.hidden_field :zipcode, id:'address_zipcode' %>

            <%# form field %>
            <div class="my-2 w-full">
              <input type="text" placeholder=" Start typing your address" id="autocomplete" class="addressInput w-full py-3 pt-3 pl-8 border rounded appearance-none placeholder-gray-500 text-gray-900">
            </div>

            <div class="my-2 w-full">
              <%= f.label :unit_number, 'Unit # (Optional)'%>
              <%= f.text_field :unit_number, class: 'addressInput w-full py-3 pt-3 pl-6 border rounded appearance-none placeholder-black text-gray-900'%>
            </div>

            <div class="my-2 w-full">
              <%= f.label :phone, 'Phone (Optional)'%>
              <%= f.text_field :phone, class: 'addressInput w-full py-3 pt-3 pl-6 border rounded appearance-none placeholder-black text-gray-900'%>
            </div>

            <div class="my-2 w-full">
              <%= f.label :pick_up_directions%>
              <%= f.text_field :pick_up_directions, class: 'w-full py-3 pt-3 pl-6 border rounded appearance-none placeholder-black text-gray-900' %>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
          <%= submit_tag 'Save New Address', class: 'inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5'%>
          <% end %>
        </span>
        <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
          <button type="button" class="cancelAddAddressButton inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
            Cancel
          </button>
        </span>
      </div>
    </div>
  <%# modal box end %>
  </div>
</div>
<%# modal end %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByXNFdTFY5C-QSRzE_ci0HMdNslgDPJgk&libraries=places"></script>
<%= javascript_pack_tag 'users/resolve_setups/places'%>