<div class="mb-6 max-w-5xl mx-auto">
  <div class="w-full bg-gray-500 py-2 mb-2">
    <h1 class="text-3xl font-bold text-gray-900">
      New Orders (ALL)
    </h1>
  </div>

<div class="w-full max-w-5xl mx-auto flex flex-row flex-wrap justify-start items-center">

  <div class="w-full flex flex-row justify-between items-center mb-2 ">
    <h3 class="text-xs font-black bg-white border text-gray-900 rounded py-1 px-2">
      <%= "$#{readable_decimal(@today_profit)}"%> (Today)
    </h3>

    <div class="flex flex-row justify-start items-center">
      <%= link_to 'In Progress', executives_dashboards_new_orders_new_orders_path(sorted: 'in_progress'), class: highlighted_sort?(executives_dashboards_new_orders_new_orders_url(sorted: 'in_progress'))%>
      <%= link_to 'Newest', executives_dashboards_new_orders_new_orders_path(sorted: 'newest'), class: highlighted_sort?(executives_dashboards_new_orders_new_orders_url(sorted: 'newest'))%>
      <%= link_to 'Oldest', executives_dashboards_new_orders_new_orders_path(sorted: 'oldest'), class: highlighted_sort?(executives_dashboards_new_orders_new_orders_url(sorted: 'oldest'))%>
      <%= link_to 'Delivered', executives_dashboards_new_orders_new_orders_path(sorted: 'delivered'), class: highlighted_sort?(executives_dashboards_new_orders_new_orders_url(sorted: 'delivered'))%>
      <%= link_to 'Expired', executives_dashboards_new_orders_new_orders_path(sorted: 'expired'), class: highlighted_sort?(executives_dashboards_new_orders_new_orders_url(sorted: 'expired'))%>
      <%= link_to 'Cancelled', executives_dashboards_new_orders_new_orders_path(sorted: 'cancelled'), class: highlighted_sort?(executives_dashboards_new_orders_new_orders_url(sorted: 'cancelled'))%>
    </div>
  </div>

  <%= render partial: 'executives/dashboards/new_orders/new_orders/new_orders', locals: {orders: @orders}%>
  
  <div class="w-full flex flex-row justify-end items-center font-black text-link-blue">
    <div>
      <%= paginate @orders%>
    </div>
  </div>

</div>