<% provide(:title, "Executive Log in")%>
<%# top line %>
<div class="w-full py-1 bg-gray-500"></div>

  <div class="w-full h-screen flex-column justify-center items-center mb-8 sm:py-20 bg-gray-500">
    <div class="w-full p-4 max-w-xl mx-auto bg-white flex-column sm:border sm:rounded-lg sm:shadow-md sm:py-8 sm:px-10">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="w-full">
          <div class="w-full flex-column justify-center items-center">
            <h2>
              Warning: Unauthorized Access is strictly prohibited
            </h2>

            <h2 class="mb-4">
              By submitting this form, you agree to your ip address, as well as other tertiary meta data contained in your web request to be stored and analyzed.
            </h2>

            <div class="w-full mb-4 sm:mr-4">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Username", class: 'border rounded py-3 pl-3 w-full text-gray-900 placeholder-gray-600 sm:text-xl sm:py-4 appearance-none'%>
            </div>

            <div class="w-full mb-4 sm:mr-4">
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: 'border rounded py-3 pl-3 w-full text-gray-900 placeholder-gray-600 sm:text-xl sm:py-4 appearance-none'%>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="mb-6">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <%= f.submit "Log in", class: 'w-full block py-4 px-4 bg-gray-500 text-white font-bold text-lg sm:text-xl' %>
            <% end %>
            
            <div class="w-full py-1 my-4">
              <% flash.each do |message_type, message| %>
                <%= content_tag(:p, message, class: 'text-align text-center text-lg text-red-700 w-full py-2 rounded') %>
              <% end %>
            </div>

          </div>
      </div>
  </div>
</div>