<% provide(:title, "Pickup From Customer")%>
<div class="h-screen bg-gray-200">

  <div class="w-full bg-gray-900 py-2">
    <p class="font-bold text-lg text-center text-white">
      Pickup Step 4. Weigh Bags
    </p>
  </div>

  <div class="w-full">
    <% flash.each do |message_type, message| %>
      <div class="flashWarning sm:max-w-xl sm:mx-auto">
        <h1 class="flashWarningText">
          <%= message %>
        </h1>
      </div>
    <% end %>
  </div>

  <div class="max-w-lg mx-auto p-4 bg-white">

    <%= link_to "<Back", workers_courier_tasks_pickup_from_customer_step3_path(id: @order.id), class: "text-link-blue font-bold text-xl py-1 font-bold mb-2" %>  


    <div class="my-4">
      <p class="font-bold text-3xl">
        <ion-icon class="text-lg" name="qr-code-outline"></ion-icon> <%= @order.bags_code %>
      </p>
    </div>

    <div class="my-8">
      <div class="my-4">
        <p class="flex flex-row justify-start items-center mb-2 text-xl font-bold">
          <span class="h-6 w-6 flex items-center justify-center bg-black text-white mr-4">
            1
          </span>
          Enter weight for each bag
        </p>

        <p>
          Enter only decimals (Example: 12.6)
        </p>
      </div>
    </div>

    <div class="my-4">
      <% @bag_index = 1 %>
      <% @order.bags_collected.times do %>
      <div class="my-2">
        <p>
          <span class="text-xl">
            Bag <%= @bag_index%>:
          </span>
          <input 
            type="number" 
            class="bag-weight__field border rounded py-3 pl-3 w-1/4 text-gray-900 placeholder-gray-600 sm:text-xl sm:py-4" 
            placeholder="0">
        </p>
      </div>
      <% @bag_index += 1%>
      <% end %>
    </div>

    <div>
      <p class="">
        <span class="font-bold text-xl">
          Total Weight:
        </span>
        <span class="weight-total font-bold text-xl">
          0
        </span>
        <span class="font-bold text-xl">
          lbs
        </span>
      </p>
    </div>
    
    <%= form_tag workers_courier_tasks_pickup_from_customer_step4_path, method: :patch, class: "stop-form" do |f|%>
      <%= hidden_field_tag :weight %>
      <%= hidden_field_tag :id, @order.id %>
      
      <%= submit_tag "Complete", class: "confirm-button block w-full py-4 text-center bg-orange-500 text-gray-900 font-bold text-lg mb-4", method: :patch, data: { confirm: 'Are you sure the above information in valid?' }%>
    <% end %>
  </div>
</div>

<%= render partial: '/loader_spinner'%>

<%= javascript_pack_tag 'simple_loader'%>
<%= javascript_pack_tag 'workers/courier/tasks/weigh-bags'%>